# Available colours:
#   Black, Red, Green, Yellow, Blue, Purple, Cyan, White
# Modifiers:
#   bold                    - B (e.g. BBlack)
#   high intensity          - I (e.g. IBlack)
#   bold hight intensity    - BI (e.g. BIBlack)

unset log
declare -A log
log['\[crit\]']='IRed'
log['\[err\]']='Red'
log['\[warning\]']='Yellow'
log['\[notice\]']='White'
log['\[info\]']='Cyan'
log['\[debug\]']='IBlack'

print_lines_not_matched=1
